<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #box {
            background-color: #fff;
            margin-top: 25;
            padding: 20px;
            -webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
            box-shadow:  10px 10px 20px 1px rgba(0, 0, 0, 0.75);
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000;
        }
    </style>
</head>
<body class="bg-info">
    <div id="box" class="col-md-6 offset-md-3">
        {{{body}}}
    </div>
</body>
</html>